h1 {
  color: white;
}

.todoWrapper {
  padding-top: 100px;
  background-color: #e07a5f;
  height: 100vh;
  overflow: auto;
}

.addTodo button {
  background-color: #81b29a;
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.addTodo button:hover {
  background-color: #81b29a;
  color: white;
}

.addTodo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.todos button {
  background-color: tomato;
  color: white;
  font-weight: bold;
}

.todos button:hover {
  background-color: tomato;
  color: white;
}

.form-check-input:checked + label {
  text-decoration: line-through;
}
